<div class="w3-container">
  <div class="w3-panel w3-sand w3-xlarge w3-serif w3-khaki">
    <h3>Event Description</h3></div>
    <table class = "table" align="center" border="1">
    <tr><th>Event-Name:</th><td>{{eventdetails?.eventname}}</td></tr>
    <tr><th>Event-Date:</th><td>{{eventdetails?.eventdate}}</td></tr>
    <tr><th>Description:</th><td>{{eventdetails?.description}}</td></tr>
    <tr><th>Event-location:</th><td>{{eventdetails?.eventlocation}}</td></tr>
    <tr><th>Registration-Fee:</th><td>{{eventdetails?.register_fee}}</td></tr>
    </table>
  
  <!--<button type="button" id="role" class="btn btn-lg btn-outline-primary" (click)="selectrole()">Select a Role</button>-->
</div>

<!-- After clicking the button open the modal dialog using open/close event binding methods -->
<button type="button" style="margin-left: 43%" color="primary" class=" w3-blue-gray" [disabled]="check" (click)="openModalDialog()">Select a Role</button>
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<!-- modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <!-- modal-dialog -->
  <div class="modal-dialog modal-dialog-centered" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <h3>Select a role and upload your details</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModalDialog()">
          <span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title">Login</h4> -->
      </div>

      <!-- modal-body -->
      <div class="modal-body">

          <form [formGroup]="optionalForm" (ngSubmit) = "senddata()" >
              
              <div class="form-group">
                  <input type =radio name="role" value="speaker" formControlName="role">speaker<br>
                  <input type =radio name="role" value="sponsor" formControlName="role">sponsor<br>
              </div>
              <h3>Optional</h3>
              <div class ="form-group">
                  <label for= "file">Resume:</label>
                  <input type =file class="form-control" (change)="onSelectFile($event)" style="height:100%">
                </div>
                <div class="row error" *ngIf="errors.length > 0">    
                  <ul>
                    <li *ngFor="let err of errors">{{err}}</li>
                  </ul>
                </div>

              <div class ="form-group">
                  <label for= "linkedin">Linked In</label>
                  <input type =text class="form-control" id="linkedin" formControlName="linkedin" style="height:100%; float:right">
              </div> 

              <div class ="form-group">
                <label for= "educational_details">Educational or Additional Details</label>
                <input type =text class="form-control" id="educational_details" formControlName="educational_details" style="height:100%; float:right">
            </div> 
              <!--modal-footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-success w3-blue-gray" (click)="closeModalDialog()">save</button>
              </div>
            </form>
        
      </div>
      </div>
  </div>
</div>
