h1{
    text-align: center;
    text-emphasis-color: white;
    padding: 20px 0;
    font-size: 30px;
    border-bottom: 2px solid#eee;
    text-decoration-color:wheat;
    background-color: lightseagreen ;
}