<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="w3-container">
    <div class="w3-panel w3-sand w3-xlarge w3-serif w3-khaki">
      <h3>Event Description</h3>
    </div>
      <table class = "table" align="center" border="1">
      <tr><th>Event-Name:</th><td>{{eventdetails?.eventname}}</td></tr>
      <tr><th>Event-Date:</th><td>{{eventdetails?.eventdate}}</td></tr>
      <tr><th>Description:</th><td>{{eventdetails?.description}}</td></tr>
      <tr><th>Event-location:</th><td>{{eventdetails?.eventlocation}}</td></tr>
      <tr><th>Registration-Fee:</th><td>{{eventdetails?.register_fee}}</td></tr>
      </table>
    
    <!--<button type="button" id="role" class="btn btn-lg btn-outline-primary" (click)="selectrole()">Select a Role</button>-->
  </div>


<div *ngIf="index==1 || index==3 || index==4">
  <!-- After clicking the button open the modal dialog using open/close event binding methods -->
<button type="button" style="margin-left: 43%" color="primary" class="btn btn-info w3-blue-gray" [disabled]="check"  (click)="openModalDialog()">Review and Suggestion</button>
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<!-- modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <!-- modal-dialog -->
  <div class="modal-dialog modal-dialog-centered" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
          <h3>Review and Suggest</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModalDialog()">
          <span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title">Login</h4> -->
      </div>

      <!-- modal-body -->
      <div class="modal-body">

          <form [formGroup]="reviewForm" (ngSubmit) = "senddata()" >
              

              <div class ="form-group">
                  <label for= "review">Your Review</label>
                  <input type =text class="form-control" id="review" formControlName="review" style="height:100%; float:right">
              </div> 

              <div class ="form-group">
                <label for= "suggestion">Your Suggestion</label>
                <input type =text class="form-control" id="suggestion" formControlName="suggestion" style="height:100%; float:right">
            </div> 
              <!--modal-footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-success w3-blue-gray" (click)="closeModalDialog()">save</button>
              </div>
            </form>
        
      </div>
      </div>
  </div>
</div>
</div>

<div *ngIf="index==2">
<button type="button" class="btn btn-info w3-blue-gray" data-toggle="collapse" data-target="#review" style="width:100%;margin-bottom: 5px;" (click)="displayreviews()"> Checkout Reviews</button>
  <div id="review" class="collapse">
      <div *ngFor="let r of reviews" >
        <div class="container darker" style="width:100%; float:right;">
          <h4 style="font-size: 16px;">From: {{r.username}}</h4>
          <p>{{r.comment}}</p>
        </div>
      </div>
  </div>

<button type="button" class="btn btn-info w3-blue-gray" data-toggle="collapse" data-target="#suggestion" style="width:100%;" (click)="displaysuggestions()"> Checkout Suggestions</button>
  <div id="suggestion" class="collapse">
        <div *ngFor="let s of suggestions" >
          <div class="container darker" style="width:100%; float:right;padding-top: 5px;">
          <h4 style="font-size: 16px;">From: {{s.username}}</h4>
          <p>{{s.comment}}</p>
        </div>
      </div>
    </div>

</div>
<!--
<div *ngIf="index==2">
<div class="container">
  <button class="btn btn-info" data-toggle="collapse" (click)="displayreviews()" style="width:100%; float:right" data-target="#review">Checkout Reviews</button>
    <div id="review" class="collapse">
      <div *ngFor="let r of reviews" >
          <h3>From: {{r.username}}</h3>
          <h2>{{r.comment}}</h2>
      </div>
    </div>
    
  <button class="btn btn-info" data-toggle="collapse" (click)="displaysuggestions()" style="width:100%; float:right" data-target="#suggestion" >Checkout Suggestions</button>
  <div id="suggestion" class="collapse">
      <div *ngFor="let s of suggestions" >
          <h3>From: {{s.username}}</h3>
          <h2>{{s.comment}}</h2>
      </div>
  </div>
  
</div>
</div>
-->
